* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #f7f7fa;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 50px 2px 20px;
  background-color: #feee00;
}

.navbar hr {
  width: 20px;
  transform: rotate(90deg);
  color: #000;
}

.text-nav {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  color: rgba(64, 69, 63);
  list-style: none;
}

.nav-logo img {
  width: 80px;
  height: 40px;
}

.nav-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

.nav-location-text {
  text-align: baseline;
  justify-content: center;
}

.nav-search form [type="text"] {
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
}

.nav-second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-second ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-second ul li {

  list-style: none;
  margin: 5px 8px 0px 8px;
  /* padding: 5px; */
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/* .nav-second ul li img{
    width: 110px;
    height: 30px;
    background-size: contain;
} */

.b-1 {
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-img-li {
  width: 150px;
  height: 30px;
}


.nav-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.nav-carousel-1 {
  width: 70%;
  height: 210px;
}

.nav-carousel-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 210px;
}

.nav-carousel-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SLIDER  */
.nav-slider
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  background-color: #ffffff;
}
.nav-slider-box
{
  width: 120px;
  height: 150px;
  padding: 5px;
}
.nav-slider-box img
{
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* SLIDER END  */