* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #f7f7fa;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 50px 2px 20px;
  background-color: #feee00;
}

.navbar hr {
  width: 20px;
  transform: rotate(90deg);
  color: #000;
}

.text-nav {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  color: rgba(64, 69, 63);
  list-style: none;
}

.nav-logo img {
  width: 80px;
  height: 40px;
}

.nav-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

.nav-location-text {
  text-align: baseline;
  justify-content: center;
}

.nav-search form [type="text"] {
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
}

.nav-second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-second ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-second ul li {

  list-style: none;
  margin: 5px 8px 0px 8px;
  /* padding: 5px; */
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/* .nav-second ul li img{
    width: 110px;
    height: 30px;
    background-size: contain;
} */

.b-1 {
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-img-li {
  width: 150px;
  height: 30px;
}


.nav-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.nav-carousel-1 {
  width: 70%;
  height: 210px;
}

.nav-carousel-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 210px;
}

.nav-carousel-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SLIDER  */
.nav-slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.nav-slider-box {
  width: 120px;
  height: 150px;
  padding: 5px;
}

.nav-slider-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* SLIDER END  */

/* DEALS  */

.nav-deals-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* .nav-deals {
  width: 30%;
  height: auto;
  border: 1px solid #000;
}
.b-1{
  border: 1px solid #000;
}

.nav-deal-1
{
  width: 100%;
  height: auto;
  border: 1px solid #000;
  padding: 10px;
}

.nav-deal-1 img {
  width: auto;
  height: auto;
  object-fit: cover;
  background-size: cover;
  margin: 10px;
  border-radius: 5px;
} */

/* Updated CSS */
.nav-deals {
  width: 31%;
  height: auto;
  display: flex; /* Add flex display to align the images horizontally */
  flex-wrap: wrap; /* Allow images to wrap to the next line if needed */
  background-color: white;
}

.nav-deal-1 {
  width: 50%; /* Each image will take 50% of the container's width */
  height: 200px;
  padding: 10px;
}

.nav-deal-1 img {
  width: 100%; /* Make the image take 100% of the container's width */
  height: 100%; /* Make the image take 100% of the container's height */
  border-radius: 5px;
  background-size: cover;
}
.nav-deal-text
{
  width: 100%;
  height: auto;
  display: flex;
}

.nav-deal-text h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 7.5px 0px;
  color: rgb(64, 69, 83);
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  padding-left: 12px;
}
.nav-deal-1 p
{
  line-height: 1.2;
  font-weight: 500;
  -webkit-box-flex: 1;
  flex-grow: 1;
  letter-spacing: 0.2px;
  padding: 0px 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}
.nav-deal-2 {
  width: 50%; /* Each image will take 50% of the container's width */
  height: 200px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sc
{
  padding: 2px 14px;
  max-width: 80%;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 238, 0);
  text-align: right;
  font-size: 1rem;
  border-radius: 0px 8px;
  margin: 0px 0px 0px auto;
}
.nav-deal-inner-1
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px 6px 0px 0px;
  background-color: #f7f7f7;

}
.nav-deal-inner-1 img{
  width: 100px;
  height: 100px;
}
.nav-deal-inner-2
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 5px;
  background-color: #ececec;
  border-radius : 0px 0px 6px 6px;
}
.nav-deal-inner-2 p{
  font-size: 12.6px;
  font-weight: 400;
  color: rgba(0,0,0);
  text-align: left;
  line-height: 15.2px;
  margin: 0;
  padding: 0;
}
.price p{
  font-size: 16px;
  font-weight: 700;
  color: rgba(0,0,0);
  text-align: left;
  line-height: 15.2px;
  margin: 0;
  padding: 0;
  text-decoration: line-through solid rgba(206, 15, 15);
}
.price-1 p{
  font-size: 19px;
  font-weight: 700;
  color: rgba(0,0,0);
  text-align: left;
  line-height: 15.2px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-left: 10px;

}

.timer
{
  background-color: #ececec;
  padding: 0px 20px 0px 20px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 6px 0px 6px 0px;
}
.deal-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0px 5px 0px;

}

.nav-rec-cards
{
  width: auto;
  height: auto;
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  position: relative;
}
.card-img
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 5px 0px;

}
.card-img img{
  width: 80%;
  height: 100%;
  background-color: #fafafa;


}

.card-text
{
  font-size: 12px;
  font-weight: 600;
}
.card-ratting
{
  background-color: #38ae04;
  color: white;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 0px 5px;
  margin: 10px 0px 10px 0px;
  font-size: 12px;
}
.card-ratting i{
  font-size: 10px;
  padding: 0%;
  margin: 0%;
}
.card-footer
{
  width: 100%;
  height: auto;
}
.tag {
  position: absolute;
  top: 15px; /* Adjust the value as needed to control the vertical position */
  left: 15px; /* Adjust the value as needed to control the horizontal position */
  background-color: #4a4a4a; /* Set the background color for the tag */
  color: #ffffff; /* Set the text color for the tag */
  padding: 0px 10px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
  font-weight: bold;
  border-radius: 50px; /* Add rounded corners */
  z-index: 1; /* Ensure the tag appears above the image */
}
.nav-school
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;

}
.nav-school-img
{
  width: 15%;
  height: auto;
  border: 1px solid #000;
  justify-content: center;
  display: flex;
  align-items: center;
}
.nav-school img{
  width: 9%;
  height: 8%;
  object-fit: cover;
}

.nav-deals-noon
{
  background-color: #e1effa;
}

.nav-noon-rem
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px 5px 15px 5px;
}
.nav-noon-rem img{
  width: 23%;
  height: auto;
  object-fit: cover;
}

.view-all-button
{
  padding: 7px 15px 7px 15px;
  border:1px solid #404553;
  color: #404553;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 10px;
}